@model TicketStore.Models.Event

@{
    ViewData["Title"] = "Details";
    if (Context.User.Claims.Any())
    {
        if (Context.User.Claims.First(c => c.Type == "Role").Value.Equals("Admin"))
        {
            Layout = "_AdminLayout";
        }
        else
        {
            Layout = "_Layout";
        }
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableTickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableTickets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationX)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationY)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinPrice)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.stars)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl2)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
