@using TicketStore.Models
@model IEnumerable<TicketStore.Models.Event>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Events" asp-action="Index" method="get" value="@ViewData["CurrentFilter"]">
    <p>
        Search Artist: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
        <a asp-action="Index">Back to Full List</a>
    </p>
</form>
<div class="row">
    <div class="col-md-4">
        <form id="CustomerDetails" asp-controller="Event" asp-action="Index" method="post" name="groupBy" class="mt-3">
            <label class="control-label">Filter by genre</label>
            <select id="drpUserList" asp-items="ViewBag.List" class="form-select form-control"></select>

            <a class="btn btn-primary" onclick="filter()" id="hyperlink" asp-controller="Events" asp-action="Index"><span class="fas fa-user-plus">Filter</span></a>
            <a asp-action="Index">Back to Full List</a>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    function filter() {
        var x = document.baseURI;
        var y = document.getElementById('drpUserList');
            //alert(this.value);
            // console.log(this);

        x += "events/?filterByGenre=" + y.value;

        //var newurl = this.getAttribute("Events") + "/?groupBy=" + this.value;
        //alert("hello");
        //alert(x);
        //alert(newurl);
        document.getElementById('hyperlink').setAttribute("href", x);
    };

     
        
    //var stam = document.onchange("#drpUserList")
    //stam.onchange(function () {
    //    //add the parameter
    //    console.log(this.val)
    //    var newurl = this.attr("Events") + "/?groupBy=" + this.val();
    //    console.log(newurl)
    //    //change the hyperlink href attribute.
    //    this.attr("Events", newurl);
    //});
</script>

@*<p>Dynamic Filter</p>
    <input class="form-control" id="GroupBy" type="text" placeholder="data table">
    <br>*@






<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.ArtistName)</a>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ArtistName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody id="FilterTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableTickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@



<@*script>
    $(document).ready(function () {
        $("#GroupBy").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#FilterTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    $(document).ready(function () {
        $("#flagInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#FlagTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>*@
