@model TicketStore.Models.Ticket

@{
    ViewData["Title"] = "Details";
    if (Context.User.Claims.Any())
    {
        if (Context.User.Claims.First(c => c.Type == "Role").Value.Equals("Admin"))
        {
            Layout = "_AdminLayout";
        }
        else
        {
            Layout = "_Layout";
        }
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
